# Node Modules
node_modules/

*.png
*.jpg
!golem-logo.png

.env
config.js
config.yml
!docs/**/config.js
!docs/**/*.png

dist/

data-out.json
list-out.json
out.put
data/*

logs/


todo

commands.json

*.bk

v2-todo.md
