module.exports = {
  discord: {
    token: '',
    clientId: '',
    serverIds: [],
  },
  image: {
    fallbackPath: '',
    avgColorAlgorithm: '',
  },
  lastfm: {
    apiKey: '',
  },
  library: {
    paths: [''],
  },
  mongo: {
    uri: '',
  },
  plex: {
    uri: '',
    appId: '',
    username: '',
    password: '',
  },
  search: {
    forceWeightTerms: [
      '',
  },
  web: {
    apiPort: 3000,
  },
}
