/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.indent-1
  margin-left 16px

.plex-badge
  color white!important
  background-color rgb(183, 128, 10)!important

.lastfm-badge
  color black!important
  background-color #b90000!important

.dc-chat-box
  border-radius 10px

.subcommand-arguments
  margin-bottom 16px
