/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #5865f2
$accentDarkColor = #5865f2
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
